.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  .card-title {
    margin-bottom: 1rem;
  }

  .concepts {
    width: 100%;

    .concept-panel {
      background-color: #673ab7;

      .concept-title {
        color: #fff;
      }

      ::ng-deep .mat-expansion-panel-body {
        background-color: white !important;
      }
    }

    .add-concept {
      display: flex;
      align-items: center;
      background-color: #c62828;
      color: white;
      margin-bottom: 1rem;

      .add-button {
        margin-right: 1rem;
      }

      p {
        font-weight: 500;
      }
    }
  }
}
