<mat-card class="card">
  <mat-card-title-group class="card-title">
    <mat-card-title>Concepts</mat-card-title>
  </mat-card-title-group>
  <mat-card-content class="concepts" *ngIf="state === 'init' || state === 'normal'; else noConcepts">
    <mat-accordion>
      <mat-expansion-panel class="concept-panel" *ngFor="let concept of concepts" (opened)="selectItem(concept.id)">
        <mat-expansion-panel-header>
          <mat-panel-title class="concept-title"> {{ concept.text | titlecase | shortText: 100 }}</mat-panel-title>
        </mat-expansion-panel-header>

        <form class="form" [formGroup]="editConceptForm" (ngSubmit)="onConceptEdit(editConceptForm.value)">
          <mat-chip-list>
            <mat-chip class="chip" color="primary" selected>Concept</mat-chip>
          </mat-chip-list>
          <p class="concept-text">{{ concept.text | titlecase }}</p>

          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Concept</mat-label>
            <input matInput type="text" formControlName="text" placeholder="Concept text" />
            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field>

          <div mat-dialog-actions>
            <button
              class="submit-button"
              mat-raised-button
              color="accent"
              type="submit"
              [disabled]="!editConceptForm.valid">
              Update Concept
            </button>
          </div>
        </form>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>

<ng-template #noConcepts>
  <mat-spinner *ngIf="state === 'loading'"></mat-spinner>
  <span *ngIf="state === 'empty'">No concepts to display</span>
</ng-template>
