<form class="form" [formGroup]="conceptForm" (ngSubmit)="onSubmit()">
  <mat-chip-list>
    <mat-chip class="chip" color="primary" selected>Concept</mat-chip>
  </mat-chip-list>
  <p class="concept-text">{{ concept.text | titlecase | shortText: 100 }}</p>

  <mat-form-field class="form-field" appearance="outline">
    <mat-label>Concept</mat-label>
    <input matInput type="text" formControlName="text" placeholder="Concept text" />
    <mat-icon matSuffix>book</mat-icon>
  </mat-form-field>

  <button class="save-button" [disabled]="!conceptForm.valid" mat-raised-button type="submit" color="primary">
    Update Concept
  </button>
</form>
