<mat-toolbar class="tool-bar" color="primary">
  <div mat-button disabled><mat-icon class="icon">description</mat-icon> <span>Exam</span></div>
</mat-toolbar>

<div class="grid">
  <mat-card class="card">
    <mat-card-title class="card-title">You have finish the exam!</mat-card-title>

    <mat-icon class="done-icon">task_alt</mat-icon>

    <p>Congratulations! You have finish the exam, now you need to wait your teacher to correct it.</p>

    <p>You can access your corrected exams on your profile</p>

    <button class="home-button" mat-raised-button color="primary" routerLink="">Go to ho home page</button>
  </mat-card>
</div>
