.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  .card-title {
    margin-bottom: 1rem;
  }

  .justifications {
    width: 100%;

    .justification-panel {
      background-color: #673ab7;

      .justification-title {
        color: #fff;
      }

      ::ng-deep .mat-expansion-panel-body {
        background-color: white !important;
      }
    }
  }
}
