.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  .card-title {
    margin-bottom: 1rem;
  }

  .justifications {
    width: 100%;

    .justification-panel {
      background-color: #673ab7;

      .justification-title {
        color: #fff;
      }

      ::ng-deep .mat-expansion-panel-body {
        background-color: white !important;
      }

      .form {
        width: 100%;
        margin-top: 1rem;
        display: flex;
        flex-direction: column;

        .chip {
          border-radius: 0.5rem;
          margin-bottom: 1rem;
        }

        .concept-text {
          margin-left: 0.25rem;
        }

        .form-field {
          width: 100%;
        }

        .form-checkbox {
          margin-bottom: 1rem;
        }

        .submit-button {
          width: 100%;
        }
      }
    }
  }
}
