<mat-card class="card">
  <mat-card-title-group class="card-title">
    <mat-card-title>Justifications</mat-card-title>
  </mat-card-title-group>
  <mat-card-content class="justifications" *ngIf="state === 'normal'; else noAnswers">
    <mat-accordion>
      <mat-expansion-panel class="justification-panel" *ngFor="let justification of justifications">
        <mat-expansion-panel-header>
          <mat-panel-title class="justification-title">
            {{ justification.text | titlecase | shortText: 100 }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-knowledge-justification-list-form [justification]="justification"></app-knowledge-justification-list-form>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>

<ng-template #noAnswers>
  <span *ngIf="state === 'init'">Select an answer to display its justifications</span>
  <mat-spinner *ngIf="state === 'loading'"></mat-spinner>
  <span *ngIf="state === 'empty'">No justifications to display</span>
</ng-template>
