<mat-toolbar class="tool-bar" color="primary">
  <div class="tool-bar-content">
    <mat-icon class="icon">school</mat-icon>
    <h2>Santa Tecla Concepts</h2>
    <p>Questions adapted to your knowledge level</p>
    <button mat-flat-button color="basic" routerLink="/">Create exam</button>
  </div>
</mat-toolbar>

<div class="content">
  <div class="info-block">
    <h3>What is Concepts?</h3>
    <p>
      Santa Tecla Concepts It's the first part of a TFG about building a Web Application based on Angular and Spring
      Boot, which aims to help teachers and students to improve their learning skills and methodologies.
      <br />
      <br />
      With Concepts the students can have adapted sets of questions depending on their knowledge level related to some
      concepts, so in that way the student can know which are his main weak points and the teacher can take note on that
      information to help the student thanks to this feedback system.
    </p>
  </div>

  <div class="info-block">
    <h3>Who can use Concpepts?</h3>
    <p>
      Santa Tecla Concepts It's used by teachers and students.
      <br />
      <br />
      The teachers are responsible for feeding the system with concepts,which can have correct and incorrect
      definitions, which also can have correct and incorrect justifications, this information is used later to generate
      exams.
      <br />
      <br />
      The students are the ones who will take the exams to discover how much the know about a certain topic. At the
      moment is not implemented, but the idea is that the students get more and more dificult exams meanwhile they start
      to get better on a certain concept.
    </p>
  </div>

  <div class="info-block">
    <h3>Why Concpepts?</h3>
    <p>
      Santa Tecla Concepts It's one of the firsts projects that try to improve the learning experience by breaking up
      with the traditional methodologies where all the students get into a class and all the information is given to
      them, at the same speed and assuming that everyone is understading that information.
      <br />
      <br />
      By adapting the information to each individual, Santa Tecla Concepts wants to demostrate that there are other ways
      to learn.
    </p>
  </div>
</div>
