<mat-accordion>
  <mat-expansion-panel class="question-panel" [expanded]="true" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title class="question-title"> Question {{ questionNumber }}</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="question-content">
      <p>
        ¿Es cierto que {{ question.conceptText }} no es {{ question.incorrectDefinitionText }} porque
        {{ question.justificationText }}?
      </p>
      <form class="form" [formGroup]="questionReplyForm">
        <mat-radio-group class="question-reply" formControlName="bool" aria-label="Select an option">
          <mat-radio-button class="radio-button" value="1">Yes</mat-radio-button>
          <mat-radio-button class="radio-button" value="0">No</mat-radio-button>
        </mat-radio-group>
      </form>
    </div>
  </mat-expansion-panel>
</mat-accordion>
