<mat-card class="card">
  <mat-card-title-group class="card-title">
    <mat-card-title>Justifications</mat-card-title>
  </mat-card-title-group>
  <mat-card-content class="justifications" *ngIf="state === 'normal'; else noJustifications">
    <div class="actions">
      <mat-card class="add-justification" [ngStyle]="{ width: !this.selectedJustificationID ? '100%' : '43%' }">
        <button class="add-button" (click)="onJustificationCreate()" mat-mini-fab color="warn">
          <mat-icon>add</mat-icon>
        </button>
        <p>Add justification</p>
      </mat-card>

      <mat-card class="delete-justification" *ngIf="this.selectedJustificationID">
        <button class="delete-button" (click)="onJustificationDelete()" mat-mini-fab color="primary">
          <mat-icon>remove</mat-icon>
        </button>
        <p>Delete justification</p>
      </mat-card>
    </div>

    <mat-accordion>
      <mat-expansion-panel
        class="justification-panel"
        *ngFor="let justification of justificationsList"
        (opened)="onJustificationSelect(justification.id)">
        <mat-expansion-panel-header>
          <mat-panel-title class="justification-title">
            {{ justification.text | titlecase | shortText: 100 }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-knowledge-justification-update-form
          [justification]="justification"
          (updateJustification)="onJustificationUpdate($event)">
        </app-knowledge-justification-update-form>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>

<!-- If the state is different that normal, display one of this-->
<ng-template #noJustifications>
  <span *ngIf="state === 'init'">Select an definition to display its justifications</span>
  <mat-spinner *ngIf="state === 'loading'"></mat-spinner>
  <span *ngIf="state === 'empty'">No justifications to display</span>
</ng-template>
