<mat-card class="card">
  <mat-card-title class="title">Authentication</mat-card-title>

  <mat-tab-group class="tab-group" dynamicHeight>
    <mat-tab label="Login">
      <app-form>
        <ng-template #formContent>
          <app-text-input
            [label]="'Email'"
            [placeholder]="'Email'"
            [required]="true"
            [icon]="'email'">
          </app-text-input>

          <app-password-input [label]="'Password'" [required]="true">
          </app-password-input>
        </ng-template>

        <ng-template #formActions>
          <button class="send-button" mat-raised-button color="primary">
            Login
          </button>
        </ng-template>
      </app-form>
    </mat-tab>

    <mat-tab label="Register">
      <app-form>
        <ng-template #formContent>
          <app-text-input
            [label]="'Username'"
            [placeholder]="'Username'"
            [required]="true"
            [icon]="'person'">
          </app-text-input>

          <app-text-input
            [label]="'Email'"
            [placeholder]="'Email'"
            [required]="true"
            [icon]="'email'">
          </app-text-input>

          <app-password-input [label]="'Password'" [required]="true">
          </app-password-input>

          <app-password-input [label]="'Password'" [required]="true">
          </app-password-input>
        </ng-template>

        <ng-template #formActions>
          <button class="send-button" mat-raised-button color="primary">
            Register
          </button>
        </ng-template>
      </app-form>
    </mat-tab>
  </mat-tab-group>
</mat-card>
