<form class="form" [formGroup]="justificationForm" (ngSubmit)="onSubmit()">
  <mat-chip-list>
    <mat-chip class="chip" color="primary" selected>Answer</mat-chip>
  </mat-chip-list>
  <p class="justification-text">{{ justification.text | titlecase }}</p>

  <mat-chip-list>
    <mat-chip class="chip" color="accent" selected>Is correct?</mat-chip>
  </mat-chip-list>
  <p class="justification-text checkbox-source" [ngClass]="{ correct: justification.correct }">
    {{ justification.correct ? 'Correct' : 'Incorrect' }}
  </p>

  <mat-chip-list>
    <mat-chip class="chip" color="warn" selected>Error</mat-chip>
  </mat-chip-list>
  <p class="justification-text">{{ !justification.correct ? (justification.error | titlecase) : 'No error' }}</p>

  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Justification</mat-label>
    <textarea matInput formControlName="text" cdkTextareaAutosize placeholder="Justification text"></textarea>
  </mat-form-field>

  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Error</mat-label>
    <textarea matInput formControlName="error" cdkTextareaAutosize placeholder="Justification error"></textarea>
  </mat-form-field>

  <mat-checkbox
    class="form-checkbox"
    formControlName="correct"
    (change)="toggleErrorField(justificationForm.value.correct)">
    Is Correct
  </mat-checkbox>

  <button class="save-button" mat-raised-button type="submit" [disabled]="!justificationForm.valid">
    Update Justification
  </button>
</form>
