<form class="form" [formGroup]="startExamForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="form-field" appearance="outline">
    <mat-label>Nº of questions</mat-label>
    <input matInput type="text" formControlName="numberOfQuestions" placeholder="Insert the number of questions" />
    <mat-icon matSuffix>question_mark</mat-icon>
  </mat-form-field>

  <div mat-dialog-actions>
    <button class="submit-button" [disabled]="!startExamForm.valid" mat-raised-button color="primary" type="submit">
      Start
    </button>
  </div>
</form>
