<mat-toolbar class="navbar" color="primary">
  <div class="links">
    <button mat-button routerLink="">
      <div class="button-content"><mat-icon class="icon">home</mat-icon> <span class="text">Home</span></div>
    </button>
    <button mat-button routerLink="/exam/init">
      <div class="button-content"><mat-icon class="icon">description</mat-icon> <span class="text">Exams</span></div>
    </button>
    <button mat-button routerLink="/knowledge" *ngIf="authStore.checkUserRoleAdmin() | async">
      <div class="button-content"><mat-icon class="icon">book</mat-icon> <span class="text">Knowledge</span></div>
    </button>
    <button mat-button routerLink="/correction" *ngIf="authStore.checkUserRoleAdmin() | async">
      <div class="button-content"><mat-icon class="icon">draw</mat-icon> <span class="text">Correction</span></div>
    </button>
  </div>

  <div class="profile">
    <button class="profile-button" mat-stroked-button mat-button color="basic">
      <div class="button-content" routerLink="/profile">
        <mat-icon class="icon">person</mat-icon>
        <span class="text">{{ (authStore.user$ | async)?.username | titlecase }}</span>
      </div>
    </button>
    <button class="logout-button" mat-flat-button color="basic" routerLink="/auth">Logout</button>
  </div>
</mat-toolbar>
