<mat-toolbar class="tool-bar" color="primary">
  <div mat-button disabled><mat-icon class="icon">person</mat-icon> <span>Profile</span></div>
</mat-toolbar>

<div class="container" *ngIf="user$ | async as user">
  <mat-accordion>
    <mat-expansion-panel [disabled]="true" [expanded]="true" hideToggle>
      <mat-expansion-panel-header expandedHeight="16rem">
        <mat-panel-title>
          <mat-icon>account_circle</mat-icon>
          <div class="user-info">
            <span class="name">{{user.fullName}}</span>
            <span class="email">{{user.email}}</span>
            <span class="username">@{{user.username}}</span>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="exam-history">
        <div class="title">
          <mat-icon class="icon">history</mat-icon>
          <h3>Exam history</h3>
        </div>
        <div class="history-item-list">
          <app-exam-history-item
            [title]="'Exam #' + i"
            [date]="exam.creationDate"
            [mark]="'TODO'"
            [timeSpent]="exam.timeSpent"
            *ngFor="let exam of (repliedExamsPage$ | async)!.content; let i = index"></app-exam-history-item>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
