<mat-toolbar class="tool-bar" color="primary">
  <div mat-button disabled><mat-icon class="icon">person</mat-icon> <span>Profile</span></div>
</mat-toolbar>

<div class="container">
  <mat-accordion>
    <mat-expansion-panel [disabled]="true" [expanded]="true" hideToggle>
      <mat-expansion-panel-header expandedHeight="16rem">
        <mat-panel-title>
          <mat-icon>account_circle</mat-icon>
          <div class="user-info">
            <span class="name">Cristian de Gracia Nuero</span>
            <span class="email">cris.dgrnu@gmail.com</span>
            <span class="username">@Cfres_</span>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="exam-history">
        <div class="title">
          <mat-icon class="icon">history</mat-icon>
          <h3>Exam history</h3>
        </div>
        <div class="history-item-list">
          <app-exam-history-item [mark]="8.9"></app-exam-history-item>
          <app-exam-history-item [mark]="5.2"></app-exam-history-item>
          <app-exam-history-item [mark]="7.6"></app-exam-history-item>
          <app-exam-history-item [mark]="4.2"></app-exam-history-item>
          <app-exam-history-item [mark]="9.4"></app-exam-history-item>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
