<mat-toolbar class="tool-bar" color="primary">
  <div mat-button disabled><mat-icon class="icon">person</mat-icon> <span>Profile</span></div>
</mat-toolbar>

<div class="container" *ngIf="user$ | async as user">
  <mat-accordion>
    <mat-expansion-panel [disabled]="true" [expanded]="true" hideToggle>
      <mat-expansion-panel-header expandedHeight="16rem">
        <mat-panel-title>
          <mat-icon>account_circle</mat-icon>
          <div class="user-info">
            <span class="name">{{ user.fullName }}</span>
            <span class="email">{{ user.email }}</span>
            <span class="username">@{{ user.username }}</span>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="exam-history">
        <div class="title">
          <mat-icon class="icon">history</mat-icon>
          <h3>Exam history</h3>
        </div>
        <div class="history-item-list" *ngIf="(hasRepliedExams$ | async)?.content as repliedExamList">
          <app-infinite-scroll-list
            *ngIf="repliedExamList.length; else noExamsYet"
            [elementSize]="128"
            [datasource]="examItemDatasource">
            <ng-template #elementTemplate let-exam="element">
              <app-exam-history-item
                class="item-size"
                *ngIf="exam; else noExam"
                [title]="'Exam #' + exam.id"
                [date]="exam.creationDate"
                [mark]="exam.mark"
                [timeSpent]="exam.timeSpent"
                [questionList]="exam.questionList">
              </app-exam-history-item>

              <ng-template #noExam>
                <app-exam-history-item class="item-size" [isOffline]="true"></app-exam-history-item>
              </ng-template>
            </ng-template>
          </app-infinite-scroll-list>

          <ng-template #noExamsYet>
            <div class="empty-history">
              <mat-icon>rule</mat-icon>
              <span class="first-empty-title">No exams corrected yet</span>
              <br />
              <span class="second-empty-title">Go to the exam section and complete your first!</span>
            </div>
          </ng-template>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
