<mat-accordion>
  <mat-expansion-panel [expanded]="true" class="question-panel" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title class="question-title"> Question {{ questionNumber }}</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="question-content">
      <p>¿Es correcto afirmar que {{ question.conceptText }} es {{ question.definitionText }}?</p>
      <form class="form" [formGroup]="questionReplyForm">
        <mat-radio-group formControlName="bool" class="question-reply" aria-label="Select an option">
          <mat-radio-button class="radio-button" value="0">Yes</mat-radio-button>
          <mat-radio-button class="radio-button" value="1">No</mat-radio-button>
        </mat-radio-group>
      </form>
    </div>
  </mat-expansion-panel>
</mat-accordion>
