<mat-toolbar class="tool-bar" color="primary">
  <div mat-button disabled><mat-icon class="icon">draw</mat-icon> <span>Correction</span></div>
</mat-toolbar>

<div class="container">
  <mat-accordion>
    <mat-expansion-panel [disabled]="true" [expanded]="true" hideToggle>
      <mat-expansion-panel-header expandedHeight="8rem">
        <mat-panel-title>
          <mat-icon class="icon">edit_note</mat-icon>
          <h3>Pending exams</h3>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-correction-question *ngFor="let question of (exam$ | async)!.questionList"></app-correction-question>
    </mat-expansion-panel>
  </mat-accordion>
</div>
