<mat-toolbar class="tool-bar" color="primary">
  <div mat-button disabled><mat-icon class="icon">draw</mat-icon> <span>Correction</span></div>
</mat-toolbar>

<div class="container">
  <mat-accordion>
    <mat-expansion-panel [disabled]="true" [expanded]="true" hideToggle>
      <mat-expansion-panel-header expandedHeight="8rem">
        <mat-panel-title>
          <mat-icon class="icon">edit_note</mat-icon>
          <h3>Pending exams</h3>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-container *ngFor="let examResponse of examResponses$ | async; let i = index">
        <app-correction-question-renderer
          class="question"
          [componentType]="examResponse.question.correctionComponentType"
          [question]="examResponse.question"
          [questionNumber]="i + 1"
          [answer]="examResponse.answer"
          [userID]="(user$ | async)?.id">
        </app-correction-question-renderer>
      </ng-container>
      <button (click)="saveCorrection()" data-cy="correction-correct-exam-button" mat-raised-button color="primary">
        Correct exam
      </button>
    </mat-expansion-panel>
  </mat-accordion>
</div>
