.container {
  margin: 3rem 18rem;

  mat-expansion-panel {
    background-color: #673ab7;

    .mat-expansion-panel-header[aria-disabled='true'] {
      color: #fff;
    }

    mat-panel-title {
      display: flex;
      margin-left: 0.75rem;

      mat-icon {
        width: 2.5rem;
        height: 2.5rem;
        font-size: 2.5rem;
      }

      h3 {
        margin: 0.5rem;
        font-size: 1.5rem;
        font-weight: 500;
      }
    }
  }

  ::ng-deep .mat-expansion-panel-body {
    background-color: white !important;
  }
}

.no-exam {
  display: flex;
  align-items: center;
}
