<form class="form" [formGroup]="answerForm" (ngSubmit)="onSubmit($event.submitter.id, answer.id)">
  <mat-chip-list>
    <mat-chip class="chip" color="primary" selected>Answer</mat-chip>
  </mat-chip-list>
  <p class="answer-text">{{ answer.text | titlecase }}</p>

  <mat-chip-list>
    <mat-chip class="chip" color="accent" selected>Correct</mat-chip>
  </mat-chip-list>
  <p class="answer-text checkbox-source" [ngClass]="{ correct: answer.correct }">
    {{ answer.correct ? 'Correct' : 'Incorrect' }}
  </p>

  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Answer</mat-label>
    <textarea matInput formControlName="text" cdkTextareaAutosize placeholder="Answer text"></textarea>
  </mat-form-field>

  <mat-checkbox class="form-checkbox" formControlName="correct"> Is Correct </mat-checkbox>

  <div mat-dialog-actions class="actions">
    <button class="delete-button" mat-raised-button color="warn" type="submit" (click)="openDeleteDialog(answer.id)">
      Delete Answer
    </button>
    <button
      class="save-button"
      mat-raised-button
      type="submit"
      [disabled]="!answerForm.valid"
      (click)="onSubmit('update', answer.id)">
      Update Answer
    </button>
  </div>
</form>
