.form {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;

  .chip {
    border-radius: 0.5rem;
    margin-bottom: 1rem;
  }

  .answer-text {
    margin-left: 0.25rem;
  }

  .checkbox-source {
    color: red;
  }

  .correct {
    color: green;
  }

  .form-field {
    width: 100%;
  }

  .form-checkbox {
    margin-bottom: 1rem;
  }

  .submit-button {
    width: 100%;
  }
}
