<form class="form" [formGroup]="answerForm" (ngSubmit)="saveAnswer(answer.id)">
  <mat-chip-list>
    <mat-chip class="chip" color="primary" selected>Answer</mat-chip>
  </mat-chip-list>
  <p class="answer-text">{{ answer.text | titlecase }}</p>

  <mat-chip-list>
    <mat-chip class="chip" color="accent" selected>Correct</mat-chip>
  </mat-chip-list>
  <p class="answer-text checkbox-source" [ngClass]="{ correct: answer.correct }">
    {{ answer.correct ? 'Correct' : 'Incorrect' }}
  </p>

  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Answer</mat-label>
    <textarea matInput formControlName="text" cdkTextareaAutosize placeholder="Answer text"></textarea>
  </mat-form-field>

  <mat-checkbox class="form-checkbox" formControlName="correct"> Is Correct </mat-checkbox>

  <div mat-dialog-actions>
    <button class="submit-button" mat-raised-button color="accent" type="submit" [disabled]="!answerForm.valid">
      Update Answer
    </button>
  </div>
</form>
