<mat-card *ngIf="!isOffline; else offline">
  <div class="exam-info">
    <div class="mark">
      <span>{{ mark }}</span>
    </div>

    <div class="text-info">
      <h4>{{ title }}</h4>
      <div>
        <span class="date-label">Date: </span>
        <span>{{ date | date }}</span>
      </div>
      <div>
        <span class="correct-answers-label">Correct answers: </span>
        <span>{{ correctQuestions + '/' + questionList.length }}</span>
      </div>
    </div>
  </div>
</mat-card>

<ng-template #offline>
  <mat-card class="offline-card">
    <mat-progress-bar mode="query"></mat-progress-bar>
  </mat-card>
</ng-template>
