<mat-card>
  <div class="exam-info">
    <div class="mark">
      <span>{{ mark }}</span>
    </div>

    <div class="text-info">
      <h4>{{ title }}</h4>
      <div>
        <span class="date-label">Date: </span>
        <span>{{ date | date }}</span>
      </div>
      <div>
        <span class="correct-answers-label">Correct answers: </span>
        <span>TODO</span>
      </div>
      <div>
        <span class="time-spent-label">Time spent: </span>
        <span>{{ timeSpent | timeSpent }}</span>
      </div>
    </div>
  </div>
  <button mat-raised-button color="primary">Review Exam</button>
</mat-card>
