<cdk-virtual-scroll-viewport class="main-viewport" itemSize="{{ elementSize }}">
  <div class="item" *cdkVirtualFor="let element of datasource" [ngStyle]="{ height: elementSize + 'px' }">
    <ng-container *ngTemplateOutlet="elementTemplate || defaultItem; context: { element: element }"></ng-container>
  </div>
</cdk-virtual-scroll-viewport>

<!-- If no template is provided use keys as headers and display all values -->
<ng-template #defaultItem>
  <div class="item" *cdkVirtualFor="let element of datasource">'loading...'</div>
</ng-template>
