<mat-toolbar class="tool-bar" color="primary">
  <div mat-button disabled><mat-icon class="icon">draw</mat-icon> <span>Correction</span></div>
</mat-toolbar>

<div class="container">
  <mat-accordion>
    <mat-expansion-panel [disabled]="true" [expanded]="true" hideToggle>
      <mat-expansion-panel-header expandedHeight="8rem">
        <mat-panel-title>
          <mat-icon class="icon">edit_note</mat-icon>
          <h3>Pending exams</h3>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-container *ngIf="(hasRepliedExams$ | async)?.content as repliedExamList">
        <app-infinite-scroll-list
          class="pending-exam-list"
          *ngIf="repliedExamList.length; else noExamsYet"
          [elementSize]="120"
          [datasource]="examItemDatasource">
          <ng-template #elementTemplate let-exam="element">
            <div class="list-item" *ngIf="exam; else noExam">
              <div class="item-decoration">
                <mat-icon mat-list-icon>description</mat-icon>
                <div class="info">
                  <div class="username">Cristian de Gracia Nuero {{ exam.userID }}</div>
                  <div class="exam-name">Exam #{{ exam.id }}</div>
                  <div class="date">22/02/2020</div>
                </div>
              </div>
              <button
                class="submit-button"
                (click)="onExamCorrection(exam.id)"
                data-cy="correction-correct-button"
                mat-raised-button
                color="primary">
                Correct <mat-icon>edit_note</mat-icon>
              </button>
            </div>
            <ng-template #noExam>
              <div class="list-item">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
              </div>
            </ng-template>
          </ng-template>
        </app-infinite-scroll-list>

        <ng-template #noExamsYet>
          <div class="empty-history">
            <mat-icon>rule</mat-icon>
            <span class="first-empty-title">No exams to correct yet</span>
            <br />
            <span class="second-empty-title">Congratulations! You have no more work to do.</span>
          </div>
        </ng-template>
      </ng-container>
    </mat-expansion-panel>
  </mat-accordion>
</div>
