.form {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;

  .form-field {
    width: 100%;
  }
  .actions {
    display: flex;
    justify-content: space-between;

    .save-button,
    .close-button {
      width: 48%;
    }
  }
}
