<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div *ngFor="let input of formInputs">
    <app-text-input
      *ngIf="input.type === 'text'"
      [label]="input.label"
      [icon]="input.icon"
      [value]="input.value | titlecase"
      [placeholder]="input.placeholder"
      (formControlChange)="onFormControlChange($event, input.control)">
    </app-text-input>

    <app-text-area
      *ngIf="input.type === 'textarea'"
      class="input"
      [label]="input.label"
      [value]="input.value | titlecase"
      [placeholder]="'Write the justification for the answer'"
      (formControlChange)="onFormControlChange($event, input.control)"></app-text-area>

    <app-password-input
      *ngIf="input.type === 'password'"
      [label]="input.label"
      (formControlChange)="onFormControlChange($event, input.control)">
    </app-password-input>

    <mat-checkbox *ngIf="input.type === 'checkbox'" class="checkbox">Is correct</mat-checkbox>
  </div>

  <button class="action-button" mat-raised-button color="{{ actionButton.color }}">
    {{ actionButton.message }}
  </button>
</form>
