.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  .card-title {
    margin-bottom: 1rem;
  }

  .concepts {
    width: 100%;

    .actions {
      margin-bottom: 1rem;
      display: flex;
      justify-content: space-between;

      .add-concept,
      .delete-concept {
        display: flex;
        align-items: center;
        color: white;
        width: 43%;

        .add-button,
        .delete-button {
          margin-right: 1rem;
        }

        p {
          font-weight: 500;
        }
      }

      .add-concept {
        background-color: #c62828;
      }

      .delete-concept {
        background-color: #673ab7;
      }
    }

    .concept-panel {
      background-color: #673ab7;

      .concept-title {
        color: #fff;
      }

      ::ng-deep .mat-expansion-panel-body {
        background-color: white !important;
      }
    }
  }
}
