<mat-card class="card">
  <!-- Title -->
  <mat-card-title-group class="card-title">
    <mat-card-title>Concepts</mat-card-title>
  </mat-card-title-group>

  <!-- Paginator -->
  <div class="paginator">
    <mat-paginator
      [showFirstLastButtons]="true"
      [length]="conceptsPage!.content.length"
      [pageSize]="10"
      (page)="onPageGet($event)"></mat-paginator>
  </div>

  <!-- List Body -->
  <mat-card-content class="concepts" *ngIf="state === 'init' || state === 'normal'; else noConcepts">
    <div class="actions">
      <mat-card class="add-concept" [ngStyle]="{ width: !this.selectedConceptID ? '100%' : '43%' }">
        <button class="add-button" (click)="onConceptCreate()" mat-mini-fab color="warn">
          <mat-icon>add</mat-icon>
        </button>
        <p>Add concept</p>
      </mat-card>
      <mat-card class="delete-concept" *ngIf="this.selectedConceptID">
        <button class="delete-button" (click)="onConceptDelete()" mat-mini-fab color="primary">
          <mat-icon>remove</mat-icon>
        </button>
        <p>Delete concept</p>
      </mat-card>
    </div>

    <mat-accordion>
      <mat-expansion-panel
        class="concept-panel"
        *ngFor="let concept of conceptsPage!.content"
        (opened)="onConceptSelect(concept.id)">
        <mat-expansion-panel-header>
          <mat-panel-title class="concept-title">{{ concept.text | titlecase }}</mat-panel-title>
        </mat-expansion-panel-header>
        <app-knowledge-concept-update-form [concept]="concept" (updateConcept)="onConceptUpdate($event)">
        </app-knowledge-concept-update-form>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>

<!-- If the state is different that normal, display one of this-->
<ng-template #noConcepts>
  <mat-spinner *ngIf="state === 'loading'"></mat-spinner>
  <div class="concepts" *ngIf="state === 'empty'">
    <div class="actions">
      <mat-card class="add-concept" [ngStyle]="{ width: !this.selectedConceptID ? '100%' : '43%' }">
        <button class="add-button" (click)="onConceptCreate()" mat-mini-fab color="warn">
          <mat-icon>add</mat-icon>
        </button>
        <p>Add concept</p>
      </mat-card>
      <mat-card class="delete-concept" *ngIf="this.selectedConceptID">
        <button class="delete-button" (click)="onConceptDelete()" mat-mini-fab color="primary">
          <mat-icon>remove</mat-icon>
        </button>
        <p>Delete concept</p>
      </mat-card>
    </div>
    <span> No concepts to display</span>
  </div>
</ng-template>
