<mat-card class="card">
  <mat-card-title-group class="card-title">
    <mat-card-title>Concepts</mat-card-title>
  </mat-card-title-group>

  <mat-card-content class="concepts" *ngIf="state === 'init' || state === 'normal'; else noConcepts">
    <mat-card class="add-concept">
      <button mat-mini-fab class="add-button" color="warn" (click)="openCreateDialog()">
        <mat-icon>add</mat-icon>
      </button>
      <p>Add a new concept.</p>
    </mat-card>

    <mat-accordion class="accordion">
      <mat-expansion-panel class="concept-panel" *ngFor="let concept of concepts" (opened)="selectConcept(concept.id)">
        <mat-expansion-panel-header>
          <mat-panel-title class="concept-title"> {{ concept.text | titlecase }}</mat-panel-title>
        </mat-expansion-panel-header>
        <app-knowledge-concept-update-form [concept]="concept"></app-knowledge-concept-update-form>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>

<ng-template #noConcepts>
  <mat-spinner *ngIf="state === 'loading'"></mat-spinner>
  <span *ngIf="state === 'empty'">No concepts to display</span>
</ng-template>
