<app-navbar></app-navbar>

<div class="container">
  <app-accordion-list-card
    class="card"
    [title]="'Concepts'"
    [items$]="concepts$"
    [editForm]="conceptForm"
    (itemSelect)="onConceptSelect($event)"
    (itemEdit)="onConceptEdit($event)">
  </app-accordion-list-card>

  <app-accordion-list-card
    class="card"
    [title]="'Answers'"
    [items$]="answers$"
    [editForm]="answerForm"
    [state$]="answersState$"
    (itemSelect)="onAnswerSelect($event)"
    (itemEdit)="onAnswerEdit($event)">
  </app-accordion-list-card>

  <app-accordion-list-card
    class="card"
    [title]="'Justifications'"
    [editForm]="justificationForm"
    [state$]="justificationsState$"
    [items$]="justifications$"
    (itemSelect)="onJustificationSelect($event)"
    (itemEdit)="onJustificationEdit($event)">
  </app-accordion-list-card>
</div>
