<mat-card class="card">
  <mat-card-title-group class="card-title">
    <mat-card-title>Answers</mat-card-title>
  </mat-card-title-group>
  <mat-card-content class="answers" *ngIf="state === 'normal'; else noAnswers">
    <mat-accordion>
      <mat-expansion-panel class="answer-panel" *ngFor="let answer of answers" (opened)="selectAnswer(answer.id)">
        <mat-expansion-panel-header>
          <mat-panel-title class="answer-title"> {{ answer.text | titlecase | shortText: 100 }}</mat-panel-title>
        </mat-expansion-panel-header>

        <app-knowledge-answer-list-form [answer]="answer"></app-knowledge-answer-list-form>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>

<ng-template #noAnswers>
  <span *ngIf="state === 'init'">Select a concept to display its answers</span>
  <mat-spinner *ngIf="state === 'loading'"></mat-spinner>
  <span *ngIf="state === 'empty'">No answers to display</span>
</ng-template>
