<mat-toolbar class="tool-bar" color="primary">
  <div mat-button disabled><mat-icon class="icon">book</mat-icon> <span>Knowledge Manager</span></div>
</mat-toolbar>
<div class="lists-container">
  <app-knowledge-concept-list
    class="card"
    [conceptsPage]="conceptStore.conceptsPage$ | async"
    [state]="conceptStore.state$ | async"
    (selectConcept)="onConceptSelect($event)"
    (createConcept)="onConceptCreate($event)"
    (updateConcept)="onConceptUpdate($event)"
    (deleteConcept)="onConceptDelete($event)"
    (getPage)="onConceptPageGet($event)">
  </app-knowledge-concept-list>

  <app-knowledge-definition-list
    class="card"
    [definitionsList]="definitionStore.definitionsList$ | async"
    [state]="definitionStore.state$ | async"
    [resetList]="resetDefinitionList"
    (selectDefinition)="onDefinitionSelect($event)"
    (createDefinition)="onDefinitionCreate($event)"
    (updateDefinition)="onDefinitionUpdate($event)"
    (deleteDefinition)="onDefinitionDelete($event)">
  </app-knowledge-definition-list>

  <app-knowledge-justification-list
    class="card"
    [justificationsList]="justificationStore.justificationsList$ | async"
    [state]="justificationStore.state$ | async"
    [resetList]="resetJustificationList"
    (selectJustification)="onJustificationSelect($event)"
    (createJustification)="onJustificationCreate($event)"
    (updateJustification)="onJustificationUpdate($event)"
    (deleteJustification)="onJustificationDelete($event)">
  </app-knowledge-justification-list>
</div>
