<mat-toolbar class="tool-bar" color="primary">
  <div mat-button disabled><mat-icon class="icon">book</mat-icon> <span>Knowledge Manager</span></div>
</mat-toolbar>
<div class="lists-container">
  <app-knowledge-concept-list
    class="card"
    [concepts]="conceptStore.concepts$ | async"
    (selectConcept)="onConceptSelect($event)"
    (createConcept)="onConceptCreate($event)"
    (updateConcept)="onConceptUpdate($event)"
    (deleteConcept)="onConceptDelete($event)"
    (getPage)="onConceptPageGet($event)">
  </app-knowledge-concept-list>

  <app-knowledge-answer-list
    class="card"
    [answers]="answerStore.answers$ | async"
    [resetList]="resetAnswerList"
    (selectAnswer)="onAnswerSelect($event)"
    (createAnswer)="onAnswerCreate($event)"
    (updateAnswer)="onAnswerUpdate($event)"
    (deleteAnswer)="onAnswerDelete($event)">
  </app-knowledge-answer-list>

  <app-knowledge-justification-list
    class="card"
    [justifications]="justificationStore.justifications$ | async"
    [resetList]="resetJustificationList"
    (selectJustification)="onJustificationSelect($event)"
    (createJustification)="onJustificationCreate($event)"
    (updateJustification)="onJustificationUpdate($event)"
    (deleteJustification)="onJustificationDelete($event)">
  </app-knowledge-justification-list>
</div>
