<div *ngIf="state$ | async as state">
  <mat-card class="card">
    <mat-card-title-group class="card-title">
      <mat-card-title>{{ title }}</mat-card-title>
    </mat-card-title-group>
    <mat-card-content class="items" *ngIf="state === 'init' || state === 'normal'; else noContent">
      <mat-accordion>
        <mat-expansion-panel class="item-panel" *ngFor="let item of items$ | async" (opened)="selectItem(item.id)">
          <mat-expansion-panel-header>
            <mat-panel-title class="item-title"> {{ item.text | titlecase | shortText: 100 }}</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="container">
            <div class="form-container">
              <app-form
                class="form"
                [formInputs]="editForm.formInputs | setValueInForm: 0:item.text"
                [actionButton]="editForm.actionButton"
                (formSubmit)="editItem($event)">
              </app-form>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>

  <ng-template #noContent>
    <mat-spinner *ngIf="state === 'loading'"></mat-spinner>
    <span *ngIf="state === 'empty'">No {{ title }} to display</span>
  </ng-template>
</div>
